<nz-sider 
  nzCollapsible 
  [nzCollapsed]="collapsed() && !isMobile()"
  [nzTrigger]="null"
  [nzWidth]="isMobile() ? 280 : 256"
  [nzCollapsedWidth]="isMobile() ? 280 : 80"
  [class]="'app-sidebar ' + (isMobile() && sidebarOpen() ? 'mobile-open' : '') + (isMobile() ? ' mobile-sidebar' : '')">
  
  <!-- Logo -->
  <div class="sidebar-logo">
     <svg class="logo-img" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 2L2 7L12 12L22 7L12 2Z" stroke="#2563eb" stroke-width="2" stroke-linejoin="round"/>
      <path d="M2 17L12 22L22 17" stroke="#2563eb" stroke-width="2" stroke-linejoin="round"/>
      <path d="M2 12L12 17L22 12" stroke="#2563eb" stroke-width="2" stroke-linejoin="round"/>
    </svg>
  </div>

  <!-- Navigation Menu -->
  <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="collapsed() && !isMobile()">
    <ng-container *ngIf="isAuthenticated()">
      <!-- Dashboard/Home -->
       <li nz-menu-item nzMatchRouter (click)="onMenuItemClick()">
      <a routerLink="/home">
        <i nz-icon nzType="dashboard" nzTheme="outline"></i>
        <span>Dashboard</span>
      </a>
    </li>
      <li nz-menu-item nzMatchRouter (click)="onMenuItemClick()">
        <a routerLink="/materials">
          <i nz-icon nzType="inbox" nzTheme="outline"></i>
          <span>Materiales</span>
        </a>
      </li>
        <li nz-menu-item nzMatchRouter (click)="onMenuItemClick()">
        <a routerLink="/cities">
          <i nz-icon nzType="city" nzTheme="outline"></i>
          <span>Ciudad</span>
        </a>
      </li>

      <!-- Perfil del usuario -->
      <li nz-menu-item nzMatchRouter (click)="onMenuItemClick()">
        <a routerLink="/profile">
          <i nz-icon nzType="user" nzTheme="outline"></i>
          <span>Mi Perfil</span>
        </a>
      </li>

      <!-- Configuración -->
      <li nz-menu-item nzMatchRouter (click)="onMenuItemClick()">
        <a routerLink="/settings">
          <i nz-icon nzType="setting" nzTheme="outline"></i>
          <span>Configuración</span>
        </a>
      </li>

  
    </ng-container>
  </ul>
</nz-sider>